li span {
background: gold;
}

#wrap {
  width: 800px;
  margin: 0 auto;
}

#header {
padding: 5px 10px;
}

#main {
  float: right;
  width: 500px;
}

#sidebar {
  float: left;
  width:230px;
  padding:10px;
}

#footer{
  vertical-align: bottom;
  clear: both;
  width: 730px;
}
